.container {
  padding:100px 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(90deg,#3a2236,#2e2a3c 50%,#3a2236);

}
